<h1 mat-dialog-title>{{title}}</h1>
<div  mat-dialog-content>
    <form #userForm="ngForm" class="example-form">
        <mat-form-field class="example-full-width">
          <input required name="author" matInput [(ngModel)]="data.author" placeholder="Author">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input required name="title" [(ngModel)]="data.title" matInput placeholder="Title">
        </mat-form-field>
      <mat-form-field class="example-full-width">
        <input  [(ngModel)]="data.format" type="text" name="format" placeholder="Format" aria-label="Format" matInput [matAutocomplete]="auto">
        <mat-autocomplete name="formatAutocomplete" #auto="matAutocomplete">
          <mat-option *ngFor="let formatOption of formatOptions" [value]="formatOption">
            {{formatOption}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>    
      <mat-form-field class="example-full-width">
        <input  [(ngModel)]="data.language" type="text" name="language" placeholder="Pick language" aria-label="Language" matInput  [matAutocomplete]="autoFormat">
        <mat-autocomplete name="languageAutocomplete" #autoFormat="matAutocomplete">
          <mat-option *ngFor="let languageOption of languageOptions" [value]="languageOption">
            {{languageOption}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input name="source" [(ngModel)]="data.source" matInput placeholder="Source">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input  [(ngModel)]="data.category" type="text" name="category" placeholder="Pick category" aria-label="Category" matInput [matAutocomplete]="autoCategory">
        <mat-autocomplete name="categoryAutocomplete" #autoCategory="matAutocomplete">
          <mat-option *ngFor="let categoryOption of categoryOptions" [value]="categoryOption">
            {{categoryOption}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button [disabled]="!userForm.valid" color="primary"  mat-raised-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>